1. Reading the CSV File:
- Load the provided CSV file into a pandas DataFrame.
- Display the first 5 rows of the DataFrame to understand the structure of the data

In [3]:
import pandas as pd
acc_basketball = pd.read_csv("/Users/shevyapanda/Desktop/DS 2002/acc_players-2324F.csv", skiprows=1)
acc_basketball.head(5)

,Rk,Player,Class,Pos,School,G,MP,TRB,AST,STL,...,TOV,PF,PTS,FG%,2P%,3P%,FT%,PER,WS,BPM
0,1,Amaree Abram,SO,G,Georgia Tech,10,108,17,11,1,...,9,10,34,0.262,0.318,0.200,0.615,4.1,-0.1,-6.4
1,2,Sola Adebisi,FR,F,Florida State,7,9,1,1,0,...,1,1,2,0.500,0.500,NaN,NaN,3.5,0.0,-6.7
2,3,Prince Aligbe,SO,F,Boston College,35,651,119,21,15,...,30,51,164,0.435,0.522,0.147,0.620,9.4,0.9,-1.3
3,4,Abe Atiyeh,SR,G,Boston College,4,6,0,0,0,...,1,0,3,0.333,0.000,1.000,NaN,1.1,0.0,-8.2
4,5,Zack Austin,JR,F,Pittsburgh,33,746,137,29,32,...,13,35,216,0.417,0.563,0.295,0.737,18.0,2.9,7.9

2. Basic Analysis:
- Calculate the total points scored by all players combined.
- Find the player who has played the most minutes (MP).
- Identify the top 5 players in terms of total rebounds (TRB).

In [9]:
int(acc_basketball['PTS'].sum())

38411

In [17]:
acc_basketball.sort_values(by="MP", ascending=False).head(1)
#acc_basketball.query("MP == MP.max()")

,Rk,Player,Class,Pos,School,G,MP,TRB,AST,STL,...,TOV,PF,PTS,FG%,2P%,3P%,FT%,PER,WS,BPM
135,136,Casey Morsell,SR,G,NC State,41,1333,114,67,46,...,38,86,455,0.406,0.478,0.27,0.806,13.4,3.2,2.5

In [13]:
acc_basketball.nlargest(5, 'TRB')

,Rk,Player,Class,Pos,School,G,MP,TRB,AST,STL,...,TOV,PF,PTS,FG%,2P%,3P%,FT%,PER,WS,BPM
5,6,Armando Bacot,SR,F,North Carolina,37,1123,380,56,22,...,60,100,538,0.540,0.544,0.400,0.781,24.6,6.1,8.9
178,179,Ian Schieffelin,JR,F,Clemson,36,989,340,80,21,...,45,95,365,0.564,0.588,0.469,0.731,22.5,4.9,8.8
90,91,Harrison Ingram,SO,F,North Carolina,37,1213,327,80,51,...,51,71,451,0.430,0.467,0.385,0.612,18.3,4.9,8.5
44,45,Mohamed Diarra,SR,F,NC State,40,882,311,24,28,...,26,66,253,0.477,0.568,0.309,0.658,18.9,3.4,6.2
149,150,Norchad Omier,JR,F,Miami (FL),31,948,309,38,47,...,72,91,528,0.552,0.598,0.353,0.750,26.8,4.7,6.6

3. Player Filtering:
- Create a new DataFrame containing only players who played more than 500 minutes.
- From this filtered DataFrame, determine the player with the highest total assists (AST).
- Who are the top 3 Assist Leads in the League?
- Who are the top 3 Shot Blockers?

In [19]:
longgame = acc_basketball.query('MP > 500')
longgame.head(5)

,Rk,Player,Class,Pos,School,G,MP,TRB,AST,STL,...,TOV,PF,PTS,FG%,2P%,3P%,FT%,PER,WS,BPM
2,3,Prince Aligbe,SO,F,Boston College,35,651,119,21,15,...,30,51,164,0.435,0.522,0.147,0.620,9.4,0.9,-1.3
4,5,Zack Austin,JR,F,Pittsburgh,33,746,137,29,32,...,13,35,216,0.417,0.563,0.295,0.737,18.0,2.9,7.9
5,6,Armando Bacot,SR,F,North Carolina,37,1123,380,56,22,...,60,100,538,0.540,0.544,0.400,0.781,24.6,6.1,8.9
7,8,Reece Beekman,SR,G,Virginia,34,1114,124,212,68,...,70,43,486,0.443,0.487,0.310,0.754,23.4,4.9,10.5
9,10,Chris Bell,SO,F,Syracuse,32,865,75,21,18,...,26,58,384,0.434,0.459,0.420,0.842,14.9,2.2,3.3

In [23]:
acc_basketball.nlargest(1,"AST")

,Rk,Player,Class,Pos,School,G,MP,TRB,AST,STL,...,TOV,PF,PTS,FG%,2P%,3P%,FT%,PER,WS,BPM
7,8,Reece Beekman,SR,G,Virginia,34,1114,124,212,68,...,70,43,486,0.443,0.487,0.31,0.754,23.4,4.9,10.5

In [24]:
acc_basketball.nlargest(3,"AST")

,Rk,Player,Class,Pos,School,G,MP,TRB,AST,STL,...,TOV,PF,PTS,FG%,2P%,3P%,FT%,PER,WS,BPM
7,8,Reece Beekman,SR,G,Virginia,34,1114,124,212,68,...,70,43,486,0.443,0.487,0.310,0.754,23.4,4.9,10.5
215,216,Jaeden Zackery,JR,G,Boston College,36,1216,119,152,63,...,71,78,408,0.484,0.511,0.405,0.824,16.4,3.7,3.5
21,22,Elliot Cadeau,FR,G,North Carolina,37,882,81,150,29,...,67,84,271,0.417,0.481,0.189,0.648,11.7,2.1,1.8

In [25]:
acc_basketball.nlargest(1,"BLK")

,Rk,Player,Class,Pos,School,G,MP,TRB,AST,STL,...,TOV,PF,PTS,FG%,2P%,3P%,FT%,PER,WS,BPM
51,52,Ryan Dunn,SO,G,Virginia,34,935,235,26,44,...,28,70,276,0.548,0.618,0.2,0.532,22.0,4.2,7.2

4. School-Based Analysis:
- Group the players by School and calculate the total points scored by each school.
- Group the players by School and calculate the total assists (AST) for each team.
- Sort the schools by total points scored and display the top 3 schools.

In [42]:
acc_school = acc_basketball.groupby('School')["PTS"].sum()
acc_school

School
Boston College    2667
Clemson           2785
Duke              2830
Florida State     2526
Georgia Tech      2272
Louisville        2304
Miami (FL)        2424
NC State          3101
North Carolina    3032
Notre Dame        2113
Pittsburgh        2495
Syracuse          2442
Virginia          2140
Virginia Tech     2547
Wake Forest       2733
Name: PTS, dtype: int64

In [32]:
acc_basketball.groupby('School')["AST"].sum()

School
Boston College    509
Clemson           533
Duke              551
Florida State     406
Georgia Tech      425
Louisville        356
Miami (FL)        454
NC State          536
North Carolina    536
Notre Dame        335
Pittsburgh        452
Syracuse          442
Virginia          509
Virginia Tech     514
Wake Forest       429
Name: AST, dtype: int64

In [46]:
acc_school.sort_values(ascending=False).nlargest(3)

School
NC State          3101
North Carolina    3032
Duke              2830
Name: PTS, dtype: int64

. Extra Credit (Bonus):
- Create a bar chart showing the top 5 players by total points scored (PTS).
- Correlation: Investigate whether there is any correlation between a player's field goal
percentage (FG%) and their win shares (WS). Provide a scatter plot and calculate the
correlation coefficient.

In [53]:
import matplotlib.pyplot as plt 
bball = acc_basketball.groupby('Player')['PTS'].sum().sort_values(ascending=False).nlargest(5)
bball.plot.bar

What did you learn about working with CSV files and pandas DataFrames in
this assignment?

- Reflect on the specific skills or techniques you developed, such as reading,
filtering, or manipulating data, and how these skills can be applied to future
data analysis projects.

What was the most challenging aspect of this assignment, and how did you
overcome it?
- Explain the difficulties you encountered, whether it was related to coding,
understanding the data, or performing specific analyses, and describe the
strategies you used to work through the challenges.

How do you think the insights gained from analyzing ACC basketball statistics
could be applied to other real-world datasets?

- Consider the broader implications of using data analysis techniques on
different datasets, whether in sports, business, healthcare, or other fields, and
discuss how this experience prepares you for future data science challenges.

Working with CSV and pandas dataframes has been rather insightful for me this past week. I took a class on python a year ago   and wasn't sure how capable I was at remembering all the things I learned since I have mostly worked with R and the syntax while quite similar is slightly different as well. Luckily I think I exceeded by expectations with the methods I used to derive answers to the questions posed above. Some techniques I enjoyed was sorting the data and choosing different columns to look into which will obviously be useful in a data driven field. These skills are pertinent to future data projects looking into causality and correlation between various variables in all aspects.For instance, a trend in data could be due to a number of variables, in which case it would be important to analyse the main variables that factor into the outcome of the one being researched.

Some difficulties I encountered were based on the syntax of filtering and grouping data, I haven't quite confidently picked up on rules for where everything goes, in terms of "sentence structure" in a line of code. With time and practice these things will come easier, but in the meantime I have been using a pandas cheat sheet to look at different syntax and see how they come together. Another useful tool I've been using is stackoverflow which shows similar questions and methods for the things that I am trying to do. And also occasionally asking peers who are more expereinced for aid with errors when I don't understand, and usually its a small mistake such as a missed comma which I think I could catch better with more time coding.

I think the organizing and filtering processes used in this assignment will be useful with different datasets in the future. I study neurosceince and a lot of data is typically collected through fMRI studies. Python provides a useful tool to help organize the data from different participants and in health care it is especially useful to organize demographics. I also thing the different analysis techniques would be useful in terms of data visualization once the data set is cleaned up for the variabels that the researcher is looking at.